<link rel="stylesheet" href="styles/detail.css">

<div class="container">
	<div class="container-fluid well span6" ng-Controller=DetailCtrl>
		<div class="row-fluid">
	        <div class="span2" >
			    <img src="http://1.bp.blogspot.com/-zcepnmORnxg/UioQcV57StI/AAAAAAAACjk/ps8cmgPhgg8/s1600/minion_icon_image_picfishblogspotcom+%252811%2529.png" class="img-circle">
	        </div>
	        
	        <div class="span8">
	            <h3>Utilisateur</h3>
				<h6>Nom : {{user.nom}}</h6>
				<h6>Prenom : {{user.prenom}}</h6>
				<h6>E-mail : {{user.mail}}</h6>
				<h6>Poids : {{user.poids}}</h6>
				<h6>Pseuso : {{user.pseudo}}</h6>
	        </div>
	        
	        <div class="span2">
	            <div class="btn-group">
	                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
	                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
	                </button>
	                <ul class="dropdown-menu" role="menu">
	                    <li><a href="#editProfil"><span class="icon-wrench"></span> Modifier</a></li>
	                    <li><a href="#editProfil"><span class="icon-wrench"></span> Supprimer</a></li>
	                </ul>
	            </div>
	        </div>
		</div>
	</div>
</div>