
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>Bienvenue sur Banana Sport</h1>
		<p>Banana! Garder la banane gr&acircce &agrave BananaSport! </p>
	</div>
</div>



<div class="container">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4">
			<h2>Banana Sport</h2>
			<p>Garder la banane en restant en forme gr&acircce &agrave un suivie personnalis&eacute de vos s&eacuteances de sport! </p>
			<p>
				<a class="btn btn-default" href="#/inscription" role="button">En savoir plus...</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>Banana S&eacuteances</h2>
			<p>Cr&eacuteer vos s&eacuteances, saisissez vos exploits et suivez ensuite votre &eacutevolution</p>
			<p>
			<p>
				<a class="btn btn-default" href="#/inscription" role="button">En savoir plus...</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>Banana Timeline</h2>
			<p>La timeline vous permettra de suivre vos progrets au fur et &agrave mesure que vous enregistr&eacute vos s&eacuteances</p>
			<p>
			<p>
				<a class="btn btn-default" href="#/inscription" role="button">En savoir plus...</a>
			</p>
		</div>
	</div>


</div>
<!-- /container -->