<div ng-Controller=MessagerieCtrl class="container" ng-switch on="typeView"> 
{{infoNewMessage}}
	<div ng-switch-when="view">
	<button ng-click="newMessage()">New message</button>
	<button ng-click="deleteMessage()">Delete selected messages</button>
	<input type="search" ng-model="q" placeholder="filter messages..." />
	<table class="bordered-table">
		<th><td><input type="checkbox"/></td><td>From</td><td>message</td><td>Date</td></th>
		<tr ng-repeat="msg in messages | filter:q" ng-class-even="'message-even-row'" ng-class-odd="'message-odd-row'">
			<td><input type="checkbox"/></td>
			<td>{{msg.expediteur}}</td>
			<td>{{msg.message}}</td>
			<td>{{msg.dateEnvoi}}</td>
		</tr>
	</table>
	</div>
	<div ng-switch-when="new">
		<h3>New message : </h3>
		<form name="formNewMessage" id="tab" novalidate>
						<label>To : </label>
						<input type="text" ng-model="newMessage.destinataire" ng-minlength=3 ng-maxlength=20 value="" class="form-control" required>
						<label>Message : </label>
						<textarea class="form-control" rows="3" ng-model="newMessage.message" required class="form-control"></textarea>
						
			<div style="margin-top : 1em;">
							<button id="signinButton" class="btn btn-primary" ng-click="sendNewMessage(newMessage)" ng-disabled="formNewMessage.$invalid || isUnchanged(newMessage)">Envoyer</button>
			</div>
	</div>
</div>
