<div class="container" id="seance" ng-Controler=SeanceCtrl class="modal-body">
	<ul class="nav nav-tabs">
		<li class="active"><a href="seance#liste" data-toggle="tab">Liste des seances</a></li>
		<li><a href="seance#create" data-toggle="tab">Ajouter une seance</a></li>
	</ul>
	<div  id="myTabContent" class="tab-content">
		<div id="liste" class="tab-pane fade">
		<br/>
		<fieldset><legend>Seances :</legend>
		<table style="border:1px solid black;">
		<tr style="border:1px solid black;"><th>Sport</th><th>Distance</th><th>Vitesse</th><th>Durée</th><th>Calorie</th><th>Commentaire</th></tr>
		<tr style="border:1px solid black;" ng-repeat="seancel in seances">
			<td>{{seancel.sport.nom}}</td>
			<td>{{seancel.distance}}</td>
			<td>{{seancel.vitesse}}</td>
			<td>{{seancel.duree}}</td>
			<td>{{seancel.calorie}}</td>
			<td>{{seancel.commentaire}}</td>
		</tr>
		</table>
		<br/>
		</fieldset>
		</div>
		<div id="create" class="tab-pane active in">
			<form class="form-horizontal"  id="formNewSeance">
			<br/>
				<!--<fieldset>
				<fieldset><legend>Add a new Seance :</legend>
					<div class="form-group">
					<label> Choisissez un sport : </label>
						<select>
							  <option ng-repeat="sport in sports">{{sport.nom}}</option>
						</select>
					</div>

					<div class="form-group">
						<input type="text" placeholder="Vitesse" ng-model="seance.vitesse" required class="form-control"/>
					</div>
					<div class="form-group">
						<input type="text" placeholder="Distance" ng-model="seance.distance" required class="form-control"/>
					</div>
					<div class="form-group">
						<input type="text" placeholder="Durée" ng-model="seance.duree" required class="form-control"/>
					</div>
					<div class="form-group">
						<input type="text" placeholder="Calories" ng-model="seance.calories" required class="form-control"/>
					</div>
				</fieldset>
				<fieldset><legend>Parcours :</legend>
					<button id="addGpsPoint" class="btn ">Add new GPS point</button>
						<div class="form-group">
							<input type="text" placeholder="Point x" ng-model="parcours.pointx" required class="form-control"/>  <input type="text" placeholder="Point y" ng-model="parcours.pointy" required class="form-control"/>
						</div>
				</fieldset>
					<button type="submit" id="loginButton" class="btn btn-success" ng-click="newSeance(seance)" ng-disabled="formNewSeance.$invalid || isAuthUnchanged(seance)">Ajouter</button>
				</fieldset> -->
				<fieldset>
				<fieldset><legend>Add a new Seance :</legend>
						<div class="form-group">
						<label> Choisissez un sport : </label>
							<select ng-model="sport">
								  <option ng-repeat="sport in sports">{{sport.nom}}</option>
							</select>
						</div>

						<div class="form-group">
							<input type="text" placeholder="Vitesse" ng-model="seance.vitesse" required class="form-control"/>
						</div>
						<div class="form-group">
							<input type="text" placeholder="Distance" ng-model="seance.distance" required class="form-control"/>
						</div>
						<div class="form-group">
							<input type="text" placeholder="Durée" ng-model="seance.duree" required class="form-control"/>
						</div>
						<div class="form-group">
							<input type="text" placeholder="Calories" ng-model="seance.calorie" required class="form-control"/>
						</div>
						<div class="form-group">
							<input type="text" placeholder="Commentaire" ng-model="seance.commentaire" required class="form-control"/>
						</div>
				</fieldset>
				<fieldset id="parcours"><legend>Parcours :</legend>
				<input type="hidden" name="count" value="1" />
				<div class="control-group" id="fields">
						   <div class="controls" id="profs"> 
							 <div class="input-append">
							   <input class="span3" id="fieldX1" ng-model="pointX1" name="pointX1" type="text" placeholder="Point X"/> <input class="span3" id="fieldY1" ng-model="pointY1" name="profY1" type="text" placeholder="Point Y"/><button id="b1" ng-click="addFormField()" class="btn btn-info" type="button">+</button>
							 </div>
						   </div>
				</div>

				</fieldset>
						<button type="submit" id="addSeanceButton" class="btn btn-success" ng-click="newSeance(seance)" ng-disabled="formNewSeance.$invalid || isAuthUnchanged(seance)">Ajouter</button>
				</fieldset>
			</form> 
		</div>
	</div>
</div>
