<link rel="stylesheet" href="styles/timeline.css">
<div class="container" ng-Controler=TimelineCtrl>
    <div class="page-header">
        <h1 id="timeline">Banana Timeline</h1>
    </div>
    <timeline>
	    <ul class="timeline" >
	    	<li ng-repeat="seance in seances" class="{{$index%2==0?'rien':'timeline-inverted'}}">
	    		<div class="timeline-badge">
	    			<i class="glyphicon glyphicon-check"></i>
	    		</div>
          		<div class="timeline-panel">
	            	<div class="timeline-heading">
		              	<h4 class="timeline-title">{{seance.sport.nom}}</h4>
		              	<p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{seance.date}} </small></p>
	            	</div>
	            	<div class="timeline-body">
	            		<p>{{seance.commentaire}}</p>
	              		<p>Distance : {{seance.distance}}</p>
	              		<p>Dur&eacutee : {{seance.duree}}</p>
	              		<p>Vitesse : {{seance.vitesse}}</p>
	              	</div>
          		</div>
    		</li>
	    </ul>
	</timeline>
</div>