<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!--<link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css">-->
<!-- endbuild -->
</head>
<body ng-app="yoApp">
	<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller=AuthentificationCtrl>
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Banana Sport</a>
			</div>
		
			<div class="navbar-collapse collapse"> 
				<form  id="formAuthHeader" class="navbar-form navbar-right">
					<a type="submit" ng-if="isAuthenticate()" class="btn btn-warning" href="#/detail">Profil</a>
					<a type="submit" ng-if="isAuthenticate()" class="btn btn-warning"  href="#/timeline">TimeLine</a>
					<a type="submit" ng-if="isAuthenticate()" class="btn btn-warning"  href="#/seance">Seance</a>
					<a type="submit" ng-if="isAuthenticate()" class="btn btn-warning"  href="#/messagerie">Messagerie</a>
					<a type="submit" ng-if="isAuthenticate()" ng-click="logout()" class="btn btn-warning">Logout</a>
				
					
					<a type="submit" ng-if="!isAuthenticate()" class="btn btn-warning" href="#/inscription">Connexion</a>
					<a type="submit" ng-if="!isAuthenticate()" class="btn btn-warning" href="#/inscription">S'enregister</a>
				</form>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</div>
	
	<!-- Add your site or application content here -->
	<div ng-view=""></div>


	<hr>

	<footer>
		<p>ISTIC GLA © Christophe Coelo & Samuel Lesaicherre</p>
	</footer>

	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
 	<script src="bower_components/angular-cookies/angular-cookies.js"></script>

	<!-- build:js scripts/plugins.js -->
	<script src="bower_components/sass-bootstrap/js/affix.js"></script>
	<script src="bower_components/sass-bootstrap/js/alert.js"></script>
	<script src="bower_components/sass-bootstrap/js/button.js"></script>
	<script src="bower_components/sass-bootstrap/js/carousel.js"></script>
	<script src="bower_components/sass-bootstrap/js/transition.js"></script>
	<script src="bower_components/sass-bootstrap/js/collapse.js"></script>
	<script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
	<script src="bower_components/sass-bootstrap/js/modal.js"></script>
	<script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
	<script src="bower_components/sass-bootstrap/js/tab.js"></script>
	<script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
	<script src="bower_components/sass-bootstrap/js/popover.js"></script>
	<!-- endbuild -->

	<!-- build:js scripts/modules.js -->
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/Authentification.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/services/WebService.js"></script>
	<script src="scripts/controllers/detail.js"></script>
	<script src="scripts/controllers/inscription.js"></script>
	<script src="scripts/services/AuthManager.js"></script>
	<script src="scripts/controllers/messagerie.js"></script>
	<script src="scripts/controllers/seance.js"></script>
	<script src="scripts/controllers\timeline.js"></script>
	<script src="scripts/controllers\editProfil.js"></script>
	<!-- endbuild -->

</body>
</html>
